@model FPJobBoard.Data.EF.Position

@{
    ViewBag.Title = "Delete Position?";
}

<h2 id="ScrollDivID">@ViewBag.Title</h2>


<div id="profileContainer">
    <div class="clearfix"></div>
    <div id="profileLeft">
        <fieldset>
            <legend>Position</legend>
            <p>
                @Html.DisplayFor(model => model.Title)
            </p>
        </fieldset>
    </div>
    <div id="profileRight">
        <fieldset>
            <legend>Job Description</legend>
            <p>
                @Html.DisplayFor(model => model.JobDescription)
            </p>
        </fieldset>
    </div>
    <div class="clearfix"></div>
    <div id="profileFooterLeft">
        @Html.ActionLink("Back to List", "Index", "Positions", new { divId="ScrollDivID"}, new { @class="btn btn-outline-primary"})
    </div>
    <div id="profileFooterRight">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
                <input type="submit" value="Delete" class="btn btn-outline-danger" />
        }

    </div>
    <div class="clearfix"></div>
</div>
