@model FPJobBoard.Data.EF.Position

@{
    ViewBag.Title = "Position Details";
}

<h2 id="ScrollDivID">@ViewBag.Title</h2>

<div id="profileContainer">
    <div class="clearfix"></div>
    <div id="profileLeft">
        <fieldset>
            <legend>Position</legend>
            <p>
                @Html.DisplayFor(model => model.Title)
            </p>
        </fieldset>
    </div>
    <div id="profileRight">
        <fieldset>
            <legend>Job Description</legend>
            <p>
                @Html.DisplayFor(model => model.JobDescription)
            </p>
        </fieldset>
    </div>
    <div class="clearfix"></div>
    <div id="profileFooterLeft">
        @Html.ActionLink("Back to List", "Index", "Positions", new { divId="ScrollDivID"}, new { @class="btn btn-outline-primary"})
    </div>
    <div id="profileFooterRight">
        @Html.ActionLink("Edit", "Edit", new { id = Model.PositionID, divId = "ScrollDivID" }, new { @class="btn btn-outline-warning" }) 
    </div>
    <div class="clearfix"></div>
</div>

