@model FPJobBoard.UI.EF.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<h2 id="ScrollDivID">@ViewBag.Title.</h2>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="profileContainer">
        <div id="profileLeft">
            <fieldset>
                <legend>Email</legend>
                <p>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </p>
            </fieldset>
            <p>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </p>
        </div>
        <div id="profileRight">
            <fieldset>
                <legend>Password</legend>
                <p>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </p>
            </fieldset>
            <p>
                @Html.ActionLink("Register a new user?", "Register")
                <br />
                If you forgot your password, please contact HR.
            </p>
        </div>
        <div class="clearfix"></div>
        <div id="profileFooterRight">
            <input type="submit" value="Log in" class="btn btn-outline-primary" />
        </div>
        <div class="clearfix"></div>
    </div>
}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }