@model FPJobBoard.Data.EF.OpenPosition

@{
    ViewBag.Title = "Position Details";
}

<h2 id="ScrollDivID">@ViewBag.Title</h2>

<div id="profileContainer">
    <div class="clearfix"></div>
    <div id="profileLeft">
        <fieldset>
            <legend>Store Number</legend>
            <p>
                @Html.DisplayFor(model => model.Location.StoreNumber)
            </p>
        </fieldset>
        <fieldset>
            <legend>City</legend>
            <p>
                @Html.DisplayFor(model => model.Location.City)
            </p>
        </fieldset>
    </div>
    <div id="profileRight">
        <fieldset>
            <legend>Position</legend>
            <p>
                @Html.DisplayFor(model => model.Position.Title)
            </p>
        </fieldset>
        <fieldset>
            <legend>State</legend>
            <p>
                @Html.DisplayFor(model => model.Location.State)
            </p>
        </fieldset>
    </div>
    <div class="clearfix"></div>
    <div id="profileFooterLeft">
        @Html.ActionLink("Back to List", "Index", "OpenPositions",new { divId="ScrollDivID"}, new { @class="btn btn-outline-primary"})
    </div>
    <div id="profileFooterRight">
        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.OpenPositionID, divId="ScrollDivID" }, new { @class="btn btn-outline-warning"})
        }
    </div>
    <div class="clearfix"></div>
</div>


