@model IEnumerable<FPJobBoard.UI.EF.Models.ApplicationUser>

@{
    ViewBag.Title = "User Roles";
}
<div class="custom-container">
    <h2 id="ScrollDivID">@ViewBag.Title</h2>
    <hr />
    <p>
        @Html.ActionLink("Create New", "Create", "UsersAdmin", new { divId="ScrollDivID"}, new { @class = "btn btn-outline-success" })
    </p>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id, divId="ScrollDivID" }, new { @class = "btn btn-outline-primary" }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id, divId="ScrollDivID" }, new { @class = "btn btn-outline-warning" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id, divId="ScrollDivID" }, new { @class = "btn btn-outline-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });

    </script>
}