@model FPJobBoard.Data.EF.ApplicationStatu

@{
    ViewBag.Title = "Delete Status?";
}

<h2 id="ScrollDivID">@ViewBag.Title</h2>

<div id="profileContainer">
    <div id="profileLeft">
        <fieldset>
            <legend>Status</legend>
            <p>
                @Html.DisplayFor(model => model.StatusName)
            </p>
        </fieldset>
    </div>
    <div id="profileRight">
        <fieldset>
            <legend>Status Description</legend>
            <p>
                @Html.DisplayFor(model => model.StatusDescription)
            </p>
        </fieldset>
    </div>
    <div class="clearfix"></div>
    <div id="profileFooterLeft">
        @Html.ActionLink("Back to List", "Index", "ApplicationStatus", new { divId="ScrollDivID"}, new { @class="btn btn-outline-primary"})
    </div>
    <div id="profileFooterRight">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Delete" class="btn btn-outline-danger" />
        }
    </div>
    <div class="clearfix"></div>
</div>
