@model FPJobBoard.Data.EF.ApplicationStatu

@{
    ViewBag.Title = "Role Details";
}

<h2 id="ScrollDivID">@ViewBag.Title</h2>

<div id="profileContainer">
    <div class="clearfix"></div>
    <div id="profileLeft">
        <fieldset>
            <legend>Status</legend>
            <p>
                @Html.DisplayFor(model => model.StatusName)
            </p>
        </fieldset>
    </div>
    <div id="profileRight">
        <fieldset>
            <legend>Status Description</legend>
            <p>
                @Html.DisplayFor(model => model.StatusDescription)
            </p>
        </fieldset>
    </div>
    <div class="clearfix"></div>
    <div id="profileFooterLeft">
        @Html.ActionLink("Back to List", "Index", "ApplicationStatus", new { divId="ScrollDivID"}, new { @class="btn btn-outline-primary"})
    </div>
    <div id="profileFooterRight">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationStatusID, divId = "ScrollDivID" }, new { @class="btn btn-outline-warning"}) 
    </div>
    <div class="clearfix"></div>
</div>

