@model FPJobBoard.Data.EF.ApplicationStatu

@{
    ViewBag.Title = "Edit Status";
}

<h2 id="ScrollDivID">@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ApplicationStatusID)
    <div id="profileContainer">
        <div class="clearfix"></div>
        <div id="profileLeft">
            <fieldset>
                <legend>Status</legend>
                <p>
                    @Html.EditorFor(model => model.StatusName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StatusName, "", new { @class = "text-danger" })
                </p>
            </fieldset>
        </div>
        <div id="profileRight">
            <fieldset>
                <legend>Status Description</legend>
                <p>
                    @Html.EditorFor(model => model.StatusDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StatusDescription, "", new { @class = "text-danger" })
                </p>
            </fieldset>
        </div>
        <div class="clearfix"></div>
        <div id="profileFooterLeft">
            @Html.ActionLink("Back to List", "Index", "ApplicationStatus", new { divId="ScrollDivID"}, new { @class="btn btn-outline-primary"})
        </div>
        <div id="profileFooterRight">
            <input type="submit" value="Save" class="btn btn-outline-warning" />
        </div>
        <div class="clearfix"></div>
    </div>
}