@model IEnumerable<FPJobBoard.Data.EF.Application>

@{
    ViewBag.Title = "Submitted Applications";
}
<div class="custom-container" id="ScrollDivID">
    <h2>@ViewBag.Title</h2>
    <hr />
    @*@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        }*@
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpenPosition.Location.StoreNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResumeFilename)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionID)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.UserDetail.FullName)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.UserDetail.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserDetail.LastName)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpenPosition.Location.StoreNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpenPosition.Position.Title)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.ResumeFilename)*@
                        <a href="~/Content/UploadedImg/@item.ResumeFilename" target="_blank">Click to view Resume</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.OpenPosition.OpenPositionID)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserDetail.LastName)
                        </td>*@

                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ApplicationID, divId="ScrollDivID" }, new { @class = "btn btn-outline-primary" })
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            @:| @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationID, divId="ScrollDivID" }, new { @class = "btn btn-outline-warning" })
                            @:| @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationID, divId="ScrollDivID" }, new { @class = "btn btn-outline-danger" })


                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });

    </script>
}